# Database
DB_URI="mongodb+srv://Ikkun:FhyWO9cGs22RfA9R@cluster0.zvdubot.mongodb.net/Game?appName=Cluster0"
DB_DATABASE=store_game

# Cloudinary
CLOUDINARY_CLOUD_NAME=davfujasj
CLOUDINARY_API_KEY=155879274742561
CLOUDINARY_API_SECRET=j2dKa-onHxbm5jKbDJjz9SUaIrw
CLOUDINARY_FOLDER=Game

# Security & JWT
JWT_SECRET=ToiNgheoVaBanCungThe_TatCaChungTaDeuLaNoLeChoTuBan_DaylaKeyyyy
JWT_ISSUER=game
JWT_AUDIENCE=game
JWT_EXPIRE_DAYS=7

# AI
GEMINI_API_KEY=AIzaSyDMZLDAOKwEaMVVvG0yxCCFLyZYmDr4Fj8

# Payment (Momo/Paypal)
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_ENDPOINT=https://test-payment.momo.vn
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AVSq_9QjMRY47FYCHNUnO1biM_L9I84VMfj4wCsQ_qqSjb6AXFd-Zmy1ZxQny6J1EJ1yIz7K95i9pLc2
PAYPAL_CLIENT_SECRET=ENybO6lo8IgjI8p2vpn9mnPLjF-SDPV94xNmWLF1nDm9mVcKMcZR_DR05NtFsMtid2RMZ1O9Mg6fnVck
