/node_modules
/vendor
.git
.env
storage/*.key
/public/storage
/public/build
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
Dockerfile
docker-compose.yml
.phpunit.result.cache
